@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rancho&display=swap');

/* Variables */
:root {
  --light-grey: hsl(210, 36%, 96%);
  --grey: hsl(210, 22%, 49%);
  --silver: rgba(255,255,255,0.6);
  --white: #fff;
  --light-orange: #e6c69c;
  --red: rgb(176, 34, 34);
  --hover: hsl(6, 40%, 61%);
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  background: rgb(205,205,228);
  background: radial-gradient(circle, rgb(227, 227, 237) 45%, rgba(18,19,20,1) 85%);
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: .9rem;
}

.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border: none;
  color: var(--silver);
  text-shadow: -4px 1px 7.5px rgba(6, 11, 53, 0.89) ;
}

.sub-title {
  color: var(--light-grey);
  background: var(--red);
  width: fit-content;
  margin: auto;
  padding: 4px;
  border-radius: 2px;
  letter-spacing: 0vmin; 
}

.title h1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-weight: 900;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.hero-img {
  margin-bottom: 1rem;
  box-shadow: var(--grey);
  width: auto;
  height: 300px;
  filter: drop-shadow(1px 2px 4px black);

}

.hero-name {
  font-size: 2em;
    text-align: center;
    font-family: 'Rancho', cursive;
    text-shadow: 0 0 3px var(--light-orange);
    margin: 1.5px;
}

.text {
  width: 70%;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  line-height: 1.5;
  padding: 20px 10px 10px;
  text-align: center;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--light-grey);
  color: var(--grey);
  width: 1.2rem;
  height: 1.2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  outline:transparent;
  font-size: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--hover);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
} 

/*media queries */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 3.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}
